*.exe
*.zip
__pycache__/
.vscode/
.env
data/geoip
torrc
data/geoip6
byedpi/ciadpi.exe
tor/tor.exe
tor/tor-gencert.exe
tor/pluggable_transports/*.exe
*.log
bridges.txt
.antigravitycli/*
.antigravitycli/
Proxifier/*
Proxifier/
# Build artifacts
build/
dist/
*.spec

# Ignored data and external tools
byedpi/
tor/
data/
config.json
icon.ico
recreate_torrc.txt
Ростелеком быстрая отправка.txt

*Ростелеком*.txt
